<div class="action-bar">
  <div class="container">
    <div class="buttons left">
      <%= link_to("New Message", new_message_path, :class => "btn", :id => "new_message_button", "data-title" => "Send a message", :remote => true) %>
    </div>
    <div class="buttons right">
      <%= link_to "Filter", "#", :class => "btn" %>
      <%= link_to "Inbox", mailbox_path(mailbox: "inbox"), :class => "btn#{params[:mailbox] == "inbox" ? " primary" : ""}" %>
      <%= link_to "Archive", mailbox_path(mailbox: "archive"), :class => "btn#{params[:mailbox] == "archive" ? " primary" : ""}" %>
    </div>
    <h3><%= mailbox_title %></h3>
  </div>
</div>
