<%= form_for @message, :as => 'message', :url => user_messages_path(@receiver), :html => {:class => "form-stacked"} do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :subject %>
    <div class="input"><%= f.text_field :subject %></div>
  </div>
  <div class="clearfix">
    <%= f.label :body %>
    <div class="input"><%= f.text_area :body %></div>
  </div>
  <div>
    <%= f.submit "Send", :class => "btn primary" %>
    <%= link_to 'Cancel', messages_path, :class => "btn" %>
  </div>
<% end %>
