<% unless message.reply? %>
  <%= fields_for "#{message.class.to_s == 'Message' ? 'messages' : 'message_copies'}[]", message do |message_fields| %>
    <li id="message_<%= message.id %>" class="message_list_item <%= 'unread' unless message_opened?(message) %>" data-message-type="<%= message.class.to_s %>">
      <div class="collapsed_message <%= 'unread' unless message_opened?(message) %>" data-message-reply-url="<%= new_user_message_path(message.from, :subject => message.subject) %>">
        <%= user_photo_for(message) %>
        <div class="message_content">
          <div class="meta expand_message">
            <h2 class="subject"><%= truncated_subject(message) %></h2>
            <%= from_current_user(message) ? "To: " : "From: " %>
            <%= user_name_for(message) %>
            </div>
          
          <ul class='message_utilities'>
            <% if message.deleted %>
                         <li><%= link_to "Move to Inbox", "#", :class => "message_action unarchive inner_link", :'data-url' => message_path(message, :deleted => false) %></li>
                       <% else %>
                         <li><%= link_to "Archive", "#", :class => "message_action archive inner_link", :'data-url' => message_path(message) %></li>
                       <% end %>
                       <% if message.is_a? Message %>
                         <% if message_opened?(message) %>
                           <li><%= link_to "Mark as unread", "#", :class => "message_action mark_unread inner_link", :'data-url' => message_path(message) %></li>
                         <% else %>
                           <li><%= link_to "Mark as read", "#", :class => "message_action mark_read inner_link", :'data-url' => message_path(message) %></li>
                         <% end %>
                       <% end %>
                       <% if message.sender_id != @current_user.id %>
                         <li><%= link_to "Report as Spam", "#", :class => "message_action report_spam inner_link", :'data-url' => message_path(message) %></li>
                         <li><%= link_to "Report as Abuse", "#", :class => "message_action report_abuse inner_link", :'data-url' => message_path(message) %></li>
                       <% end %>
                       
          </ul>
          <span class="time"><%= time_ago_in_words message.created_at %> ago</span>
          <a class="open_message">Open Message</a>
              
          <% if message.attachment? %>
            <div class="attachment">
              <strong>Attachment:</strong>
              <%=link_to message.attachment_file_name, message.attachment.url(:original, false), target: '_blank' %>
            </div>
          <% end %>
          <div class="body message_preview">
            <%= message_body_preview(message) %>
          </div>
        </div>
      </div>
      <span class="edit_message_fields checkbox hide">
        <%= check_box_tag "message_ids[]", message.id, false, {:class => "update_multi"} %>
        <%= message_fields.hidden_field :opened, {:value => message.opened, :class => "update_multi opened"} %>
        <%= message_fields.hidden_field :deleted, {:value => message.deleted, :class => "update_multi deleted"} %>
      </span>
      <div class="expanded_message hide">
        <div class="message_content">
          <div class="body full_message">
            <div class="replies">
              <ul class="unstyled reply_list">
                <%= render :partial => "replies", :collection => ([message] + message.messages), :as => :reply %>
              </ul>
            </div>
            <div class="reply_fields"></div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
