<% unless message.reply? %>
  <%= fields_for "#{message.class.to_s == 'Message' ? 'messages' : 'message_copies'}[]", message do |message_fields| %>
    <li id="message_<%= message.id %>" class="message_list_item" data-message-type="<%= message.class.to_s %>">
      <div class="collapsed_message <%= 'unread' unless message.opened? %>" data-message-reply-url="<%= new_user_message_path(message.from, :subject => message.subject) %>">
        <%= link_to image_tag(message.from.photo_url(:medium)), message.from, :title => message.from.name %>
        <div class="message_content">
          <div class="meta expand_message">
            <%= link_to message.from.name, message.from, :class => "inner_link" %> - 
            <%= link_to truncated_subject(message), message_path(message), :class => "inner_link" %> - 
            <span><%= time_ago_in_words message.created_at %> ago</span>
            <span class="message_actions">
              &nbsp;-&nbsp;
              <% if message.deleted %>
                <%= link_to "Move to Inbox", "#", :class => "message_action unarchive inner_link", :'data-url' => message_path(message, :deleted => false) %>
              <% else %>
                <%= link_to "Archive", "#", :class => "message_action archive inner_link", :'data-url' => message_path(message) %>
              <% end %>
              &nbsp;-&nbsp;
              <% if message.opened? %>
                <%= link_to "Mark as unread", "#", :class => "message_action mark_unread inner_link", :'data-url' => message_path(message) %>
              <% else %>
                <%= link_to "Mark as read", "#", :class => "message_action mark_read inner_link", :'data-url' => message_path(message) %>
              <% end %>
              &nbsp;-&nbsp;
              <%= link_to "Report as Spam", "#", :class => "message_action report_spam inner_link", :'data-url' => message_path(message) %>
              &nbsp;-&nbsp;
              <%= link_to "Report as Abuse", "#", :class => "message_action report_abuse inner_link", :'data-url' => message_path(message) %>
            </span>
          </div>
          <% if message.attachment? %>
            <div class="attachment">
              <strong>Attachment:</strong>
              <%=link_to message.attachment_file_name, message.attachment.url(:original, false) %>
            </div>
          <% end %>
          <div class="body message_preview">
            <%= message_body_preview(message) %>
          </div>
        </div>
      </div>
      <span class="edit_message_fields checkbox hide">
        <%= check_box_tag "message_ids[]", message.id %>
        <%= message_fields.hidden_field :opened, {:value => message.opened, :class => "opened"} %>
        <%= message_fields.hidden_field :deleted, {:value => message.deleted, :class => "deleted"} %>
      </span>
      <div class="expanded_message hide">
        <div class="message_content">
          <div class="body full_message">
            <div class="replies">
              <ul class="unstyled reply_list">
                <%= render :partial => "replies", :collection => ([message] + message.messages), :as => :reply %>
              </ul>
            </div>
            <div class="reply_fields"></div>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>