<li id="message_<%= message.id %>" class="message_list_item">
  <%= link_to image_tag(message.from.photo_url(:medium)), message.from, :title => message.from.name %>
  <div class="message_content">
    <div class="meta">
      <div class="message_actions">
        <% if message.deleted %>
          <%= link_to "Move to Inbox", message_path(message, :deleted => false), :class => "btn", :method => :put, :remote => true %>
        <% else %>
          <%= link_to "Mark as read", message_path(message), :class => "btn", :method => :delete, :remote => true %>
          <%= link_to "Reply", new_user_message_path(message.from, :subject => message.subject), :class => "btn reply_button", :remote => true, :'data-type' => "html" %>
        <% end %>
      </div>
      <strong>From:</strong><%= link_to message.from.name, message.from %>
      <span><%= time_ago_in_words message.created_at %> ago</span>
    </div>
    <div class="subject"><strong>Subject:</strong><%= message_subject(message) %></div>
    <% if message.attachment? %>
      <div class="attachment">
        <strong>Attachment:</strong>
        <%=link_to message.attachment_file_name, message.attachment.url(:original, false)%>
      </div>
    <% end %>
    <div class="body">
      <%= message.body.html_safe %>
    </div>
  </div>
  <div class="reply_fields"></div>
</li>
