<div class="action_bar">
    <div class="container">
      <div class="buttons left">
        <%= link_to "Take Notes", new_notebook_note_path(@notebook), :class => "btn" %>
        <%= link_to 'New Notebook', new_notebook_path, :class => "btn" %>
    </div>
    
    <h3 class="middle">
      <% if @notebook.owner == current_user %>
        <span><%= link_to 'All Items', notebooks_path %> &raquo; <%= @notebook.name %></span>
      <% else %>
        <span><%= link_to "#{@notebook.owner.name}'s Shared Items", notebooks_path %> &raquo; <%= @notebook.name %></span>
      <% end %>
    </h3>
  
    <div class="buttons right">
       <a href="" class="btn">Filter</a>
       <span id="items_layout_switcher">
          <%= link_to 'Grid', { layout: :grid }, 'data-layout' => 'grid', :class => 'btn' %>
          <%= link_to 'List', { layout: :list }, 'data-layout' => 'list', :class => 'btn' %>
        </span>
      <% if @show && current_user.can_edit?(@notebook) %>
        <%= link_to "Edit", edit_notebook_path(@notebook), :class => "btn" %>
        <%= link_to "Delete", notebook_path(@notebook), method: :delete, :class => "btn", :confirm => "Are you sure?" %>
      <% end %>
    </div></div>
</div>