<%= form_for @notebook, :html => {:class => "form-stacked"} do |f| %>
  <% if @notebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notebook.errors.count, "error") %> prohibited this notebook from being saved:</h2>

      <ul>
      <% @notebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input"><%= f.text_field :name %></div>
  </div>
  <div class="clearfix">
    <%= f.label :course %>
    <div class="input"><%= select :notebook, :course_id, @current_user.offerings.collect {|o| [o.course.title, o.course.id]}, :prompt => true %></div>
  </div>
  <div>
    <%= f.submit :class => "btn primary" %>
    <%= link_to 'Cancel', "#", :class => "btn close_modal" %>
  </div>
<% end %>
