<% collapsed = true unless local_assigns.key? :collapsed %>
<li class="notebook_list_item<%= ' collapsed' if collapsed %>">
  <%= div_for notebook do %>
    <%= render 'notebooks/grid_view.html', notebook: notebook, collapsed: collapsed %>
    <%= render 'notebooks/list_view.html', notebook: notebook, collapsed: collapsed %>
    <span class="checkbox">
      <input type="checkbox" name="notebook[][id]" value="<%= notebook.id %>" />
    </span>
  <% end %>

  <% unless notebook.notes.empty? %>
    <ol class="note_list">
      <%= render partial: 'notes/list_item', collection: notebook.notes, as: :note %>
    </ol>
  <% end %>
</li>