<div class="list_view">
  <div class="preview"></div>

  <div class="fields">
    <div class="name_wrapper">
      <a class="name" href="<%= notebook_path(notebook) %>">
        <span><%= notebook.name %></span>
      </a>
      <% unless notebook.shareable? %>
        <%= image_tag "lock.png", :class => "lock_icon icon" %>
      <% end %>
    </div>
    <div class="course clear"><%= notebook.course.try(:title) %></div>
    <div class="date"><%=l notebook.created_at.to_date %></div>
  </div>

  <% unless notebook.notes.empty? %>
    <a class="expand_collapse_icon icon" href="<%= notebook_path(notebook) %>">
      <%= collapsed ? '+' : 'x' %>
    </a>
  <% end %>

</div>
