<% collapsed = true unless local_assigns.key? :collapsed %>
<%= fields_for "notebooks[]", notebook do |notebook_fields| %>
  <li class="notebook_list_item<%= ' collapsed' if collapsed %>">
    <%= div_for notebook do %>
      <% if @edit_all %>
        <%= link_to "", edit_notebook_path(notebook, :link_id => "edit_notebook_#{notebook.id}_link"), :remote => true, :id => "edit_notebook_#{notebook.id}_link", :class => "edit_notebook_link" %>
        <%= render 'notebooks/grid_view.html', notebook: notebook, collapsed: collapsed, notebook_fields: notebook_fields %>
        <%= render 'notebooks/list_view.html', notebook: notebook, collapsed: collapsed, notebook_fields: notebook_fields %>
        <span class="checkbox">
          <%= check_box_tag "notebook_ids[]", notebook.id  %>
        </span>
      <% else %>
        <%= render 'notebooks/grid_view.html', notebook: notebook, collapsed: collapsed, notebook_fields: notebook_fields %>
        <%= render 'notebooks/list_view.html', notebook: notebook, collapsed: collapsed, notebook_fields: notebook_fields %>
      <% end %>
      <% unless notebook.shareable? %>
        <%= link_to image_tag("lock.png", :class => "lock_icon icon"), "#"%>
      <% end %>
    <% end %>

    <% unless notebook.notes.empty? %>
      <ol class="note_list">
          <%= render partial: 'notes/list_item.html.erb', collection: notebook.notes, as: :note %>
      </ol>
    <% end %>
  </li>
<% end %>