<%= render partial: 'shared/users_action_bar'%>

<!-- <div id="menubar" class="topbar">
  <div class="left">
    <%= link_to("Take Notes", new_note_path, :class => "btn") %>
    <%= link_to "New Notebook", "#", :class => "btn", :id => "new_notebook_btn" %>
  </div>
  <div class="middle">
    <span>All Items</span>
  </div>
</div> -->


<div class="container">
<div class="notebook_list_container <%= items_layout %>">
  <% if @unsorted_notes.empty? && @notebooks.empty? %>
        <p>Taking notes has never been easier! With StudyHall.com you can create notebooks, take notes, and share them with your friends!</p>
        <p>Click the "New Notebook" button to begin taking note.</p>
  <% else %>
    <ol class="notebook_list">
      <%= render partial: 'notes/list_item', collection: @unsorted_notes, as: :note %>
      <%= render partial: 'notebooks/list_item', collection: @notebooks, as: :notebook %>
    </ol>
  <% end %>
</div></div>

<div id="new_notebook_modal" class="modal_dialog"></div>