<div class="main-content">
  <div id="menubar" class="topbar">
    <div class="right">
      <a href="" class="btn">Filter</a>
      <div class="btn_group">
        <a href="" class="btn">Grid</a>
        <a href="" class="btn">List</a>
      </div>
      <%= link_to "Edit", edit_notebook_path(@notebook), :class => "btn" %>
    </div>
    <div class="left">
      <%= link_to "Take Notes", new_notebook_note_path(@notebook), :class => "btn" %>
      <%= link_to 'New Notebook', new_notebook_path, :class => "btn" %>
    </div>
    <div class="middle">
      <span><%= link_to 'All Items', notebooks_path %> &raquo; <%= @notebook.name %></span>
    </div>
  </div>
  <div class="container-fluid">
    <ul class="grid">
      <% @notebook.notes.each do |note| %>
        <li class="notebook">
          <a href="<%= notebook_note_path(@notebook, note) %>" class="name">
            <span><%= note.name %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
