<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_area :content %>
    <%= f.hidden_field :notebook_id %>
    <%= f.submit :class => "btn", :style => "display:none" %>
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $("a#note_save").unbind("click").click(function(e){
      $("#note_notebook_id").val($("#menubar_notebook_id").val());
      $("form#new_note").submit();
      e.preventDefault();
    });
  });
</script>
