<%= form_for @note, :remote => @remote, :html => {:class => "form-stacked", :id => "edit_note_form", :'data-type' => "html"} do |f| %>
  <%= f.hidden_field :content, :id => "note_content_hidden_field" %>
  <div class="clearfix">
    <%= f.label :name %>
    <div class="input"><%= f.text_field :name %></div>
  </div>
  <div class="clearfix">
    <%= f.label "Save To Notebook" %>
    <div class="input">
      <%= collection_select :note, :notebook_id, current_user.notebooks, :id, :name, {:prompt => "Choose a notebook", :include_blank => true}, {:class => "chzn-select", "data-placeholder" => "Choose a notebook"} %>
    </div>
  </div>
  <div class="clearfix">
    <div class="input">
      <ul class="inputs-list">
        <li>
          <label>
            <%= f.check_box :shareable %><span>Shared</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <%= f.submit :class => "btn primary" %>
    <%= link_to 'Cancel', "#", :class => "btn cancel_popover", "data-link-id" => @modal_link_id %>
  </div>
<% end %>