<div class="list_view">
  <div class="preview">
  </div>

  <div class="fields">
    <div class="name_wrapper">
      <a class="name" href="<%= note_path(note) %>">
        <span><%= note.name %></span>
      </a>
      <% unless note.shareable? %>
        <%= image_tag "lock.png", :class => "lock_icon icon" %>
      <% end %>
    </div>
    <div class="course clear"><%= note.notebook.try(:course).try(:title) %></div>
    <div class="date"><%=l note.created_at.to_date %></div>
  </div>
  <% if @edit_all %>
    <span class="drag_handle icon">+</span>
  <% end %>

</div>