<li class="note_list_item">
  <%= div_for note do %>
    <% wrapper_class ||= 'wrapper' %>
    <div class="<%= wrapper_class %>">
      <span class="preview"></span>
      <a class="name" href="<%= note_path(note) %>">
        <span><%= note.name %></span>
      </a>
      <span class="course"><%= note.notebook.try(:course).try(:title) %></span>
      <span class="date"><%= note.created_at.to_date %></span>
      <span class="lock_icon"><%= image_tag "lock.png" unless note.shareable? %></span>
    </div>
  <% end %>
</li>
