<%= form_for note, :remote => true, :html => {:class => "form-stacked", :id => "edit_note_form"} do |f| %>
  <div class="modal-header">
    <h2>Note Details</h2>
  </div>
  <div class="modal-body">
    <%= f.hidden_field :content, :id => "note_content_hidden_field" %>
    <div class="clearfix">
      <%= f.label :name %>
      <div class="input"><%= f.text_field :name %></div>
    </div>
    <div class="clearfix">
      <%= f.label "Save To Notebook" %>
      <div class="input">
        <%= collection_select :note, :notebook_id, current_user.notebooks, :id, :name, {:selected => note.notebook.try(:id), :include_blank => "Choose a notebook"}, {:class => "chzn-select", "data-placeholder" => "Choose a notebook"} %>
      </div>
    </div>
    <div class="clearfix">
      <%= f.check_box :shareable %>
      <%= f.label :shareable, "Shared", style: "display:inline" %>
    </div>
  </div>
  <div class="modal-footer">
    <div>
      <%= f.submit :class => "btn primary" %>
      <%= link_to 'Cancel', "#", :class => "btn cancel_popover" %>
    </div>
  </div>
<% end %>
