<div class="main-content">
  <%= form_for @note do |f| %>
    <div id="menubar" class="topbar notes">
      <div class="right">
        <%= collection_select :note, :notebook_id, current_user.notebooks, :id, :name %>
        <%= f.submit :id => 'note_save', :class => 'btn' %>
      </div>
      <div class="left">
        <%= link_to("Back", edit_note_back_path, :class => "btn") %>
      </div>
      <div class="middle">
        <span>Title: <%= f.text_field :name %></span>
      </div>
    </div>
    <div class="container-fluid">
      <%= f.text_area :content, :id => "id_content", :class => "rte_area" %>
    </div>
  <% end %>
</div>
