<h2>Reset Password For <%= @user.name %></h2>
<ul>
  <%= form_for @user, :url => password_reset_path do |f| %>
    <li><%= f.label :password %></li>
    <li><%= f.password_field :password %></li>
    <li><%= f.label :password_confirmation %></li>
    <li><%= f.password_field :password_confirmation %></li>
    <li><%= f.submit "Submit" %></li>
  <% end %>
</ul>