<%= form_tag "/password_resets", :method => "POST", :class => "form-stacked" do |f| %>
  <div class="clearfix">
    <%= label_tag :Email %> 
    <div class="input"><%= text_field_tag 'email' %></div>
  </div>
  <div>
    <%= submit_tag 'Get Password', :class => "btn primary"%>
    <%= link_to 'Back', root_path, :class => "btn" %>
  </div>
<% end %>
