<p>
  <%= @sender.name %> shared a <%= @object_type %> with you on <%= link_to "StudyHall.com", "www.studyhall.com" %>!
</p>
<%- unless @sharing.message == "" %>
  <p>
    <%= @sender.first_name %> said,<br/>
    "<%= @sharing.message %>"
  </p>
<% end %>
<p>
<%- if @object_type == "Notebook" || @object_type == "Note" %>
  On StudyHall.com you can take notes online and share them with your friends, classmates, or teammates. Click on a <%= @object_type %> to view it.
<%- else @object_type == "StudyHall" %>
  Studyhalls are a great way to study with your friends in real time, take notes together, and have fun. Click on a Studyhall link below to start studying!
<% end %>
</p>
<ul style="list-style:none;margin-top:20px">
  <% @object_urls_array.each do |object| %>
    <li><%= link_to object.first.name, object.last %></li>
  <% end %>
</ul>