<p>
  <%= @sender.name %> has shared a <%= @object_type %> with you on <%= link_to "StudyHall.com", "www.studyhall.com" %>!
</p>
<p>
  <%= @sender.first_name %> says,
  "<%= @sharing.message %>"
</p>

<%- if @object_type == "Notebook" || @object_type == "Note" %>
  On StudyHall.com you can take notes online and share them with your friends, classmates, or teammates. Click on a <%= @object_type %> to view it.
<%- else @object_type == "StudySession" %>
  Studyhalls are a great way to study with your friends in real time, take notes together, and have fun. Click on a Studyhall link below to start studying!
<% end %>

<ul style="list-style:none;margin-top:20px">
  <% @object_urls_array.each do |object| %>
    <li><%= link_to object.first.name, object.last %></li>
  <% end %>
</ul>