<div class="action_bar">
  <div class="container">
    <% if @index %>
      <div class="buttons left">
        <%= link_to "Start A Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :class => "btn primary popover_button", :id => "new_study_session_button1", :remote => true %>
      </div>
      <% if @filtered_results %>
        <h3><%= link_to "All", study_sessions_path %> &raquo; <%= flash[:action_bar_message] %></h3>
      <% else %>
        <h3><%= flash[:action_bar_message] || "Your StudyHalls" %></h3>
      <% end %>
      <div class="buttons right">
        <%= link_to "Filter", new_filter_path(:model_name => "study_sessions"), id: "filter_button", class: "btn", :remote => true %>
        <%= link_to "Edit", study_sessions_path(:edit_all => true), :class => "btn", :id => "edit_all" %>
      </div>
    <% elsif @show %>
      <div class="buttons left">
        <%= link_to "X", study_sessions_path, :class => "btn" %>
      </div>
      <h3><%= flash[:action_bar_message] %></h3>
      <div class="buttons right">
      </div>
    <% else %>
      <div class="buttons left">
      </div>
      <h3><%= flash[:action_bar_message] %></h3>
      <div class="buttons right">
      </div>
    <% end %>
  </div>
</div>

<div id="popover_container" class="modal_dialog"></div>
