<%= form_for(@study_session) do |f| %>
 <div class="popover-body form-stacked">
  <p>Add a study session to your calendar. It's great to procrastinate.</p> <br/>
  <div class="gmail-toggle">
    <div class="clearfix">
      <a href="javascript:showGmail();">Add to Google Calendar</a>
    </div>
  </div>
  <div class="gmail-add" style="display: none;">
    <div class="clearfix">
      <%= f.label 'Email Address' %>
      <%= 'samuel.grondahl@yale.edu' %>
    </div>
    <div class="clearfix">
      <%= f.label 'Email Password' %>
      <%= f.text_field :gmail_password %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :name, "Set a date and time" %>
    <%= f.text_field :time_start, id: "dater", class: "datepicker", style: "width: 204px;" %>
    <%= f.select :time_end, ['12:00 am','12:30 am','01:00 am', '01:30 am', '02:00 am', '02:30 am', '03:00 am', '03:30 am', '04:00 am', '04:30 am', '05:00 am', '05:30 am', '06:00 am', '06:30 am', '07:00 am', '07:30 am', '08:00 am', '08:30 am', '09:00 am', '09:30 am', '10:00 am', '10:30 am', '11:00 am', '11:30 am', '12:00 am', '12:30 am', '01:00 pm', '01:30 pm', '02:00 pm', '02:30 pm', '03:00 pm', '03:30 pm', '04:00 pm', '04:30 pm', '05:00 pm', '05:30 pm', '06:00 pm', '06:30 pm', '07:00 pm', '07:30 pm', '08:00 pm', '08:30 pm', '09:00 pm', '09:30 pm', '10:00 pm', '10:30 pm', '11:00 pm', '11:30 pm'], :size => 4 %>
  </div>
  <div class="clearfix">

  </div>
<div class="clearfix">
    <%= f.label :name, "Give it a name" %>
    <%= f.text_field :name %>
  </div>
  <div class="clearfix">
    <%= f.label :buddy_ids, "Invite Your Buddies" %>
    <%= f.collection_select :buddy_ids, current_user.buddies, :id, :name,{:multiple => true},{:multiple => "multiple", :id => "buddy_id_select_#{@study_session.id || 0}", :class => "chzn-select buddy_id_select", "data-placeholder" => "Select buddies"} %>
  </div>
  <div class="clearfix">
    <%= f.label :offering_id, "Course" %>
    <%= f.collection_select :offering_id, current_user.offerings, :id, :name,{:include_blank => "Choose a course"},{:class => "chzn-select", "data-placeholder" => "No course", :id => "offering_id_select_#{@study_session.id || 0}"} %>
  </div>
 </div>
  <div class="popover-footer">
    <%= f.hidden_field :calendar, :value => true %>
    <%= f.submit 'Schedule Studyhall', class: 'btn primary' %>
    <%= link_to 'Cancel', '#', class: 'btn cancel_popover', 'data-link-id' => 'new_calendar_button' %>
  </div>

<% end %>
