<%= form_for @study_session, :html => {:class => "form-stacked"} do |f| %>
  <ul class="form_fields unstyled">
    <li><%= f.label :name, "Name" %> <%= f.text_field :name %></li>
  </ul>
  <div class="clearfix"></div>
  <%= f.submit "Create Studyhall", :class => "btn primary" %>
  <%= link_to 'Cancel', "#", :class => "btn cancel_popover" %>
<% end %>