<%= form_for study_session, :html => {:class => "form-stacked"} do |f| %>
  <% if study_session.new_record? %>
    <p>Make sure that your microphone and camera work before you begin.</p>
  <% end %>
  <%= f.label :name, "Give it a name" %>
  <%= f.text_field :name %>
  <%= f.label :buddy_ids, "Invite Your Buddies" %>
  <%= f.collection_select :buddy_ids, current_user.buddies, :id, :name,{:multiple => true},{:multiple => "multiple", :id => "buddy_id_select_#{study_session.id || 0}", :class => "chzn-select buddy_id_select", "data-placeholder" => "Select buddies"} %>
  <% if study_session.session_files.count > 1 %>
    <label>Uploaded File</label>
    <p><%= study_session.session_files.reject(&:new_record?).last.upload.file_name %></p>
  <% end %>
  <%= f.fields_for :session_files do |sf| %>
    <% if sf.object.new_record? %>
      <%= sf.label :upload, "Upload A File" %>
      <div style="position:relative">
        <%= sf.file_field :upload, :class => "input-file" %>
      </div>
    <% end %>
  <% end %>
  <%= f.check_box :shareable %><%= f.label :shareable, "Shared", :style => "display:inline" %>
  <div class="clearfix"></div>
  <%= f.submit (study_session.new_record? ? "Start Studying" : "Save"), :class => "btn primary" %>
  <%= link_to 'Cancel', "#", :class => "btn cancel_popover", "data-link-id" => @modal_link_id %>
<% end %>
