<%= form_for @study_session, :html => {:class => "form-stacked"} do |f| %>
  <ul class="form_fields">
    <li><%= f.label :name, "Name" %> <%= f.text_field :name %></li>
  </ul>
  <div class="clearfix"></div>
  <%= f.submit :class => "btn primary" %>
  <%= link_to 'Cancel', study_sessions_path, :class => "btn close_modal" %>
<% end %>