<%= div_for(study_session, "data-id" => study_session.id) do %>
  <div class="attendees">
    <% study_session.users.first(3).each do |user| %>
      <%= link_to image_tag(user.photo_url(:thumb)), user, :title => user.name %>
    <% end %>
  </div>
  <% if study_session.name.blank? %>
    <%= link_to study_session.created_at.strftime("%m/%d/%Y"), study_session, class: "name" %>
  <% else %>
    <span>
      <div class="name_wapper"><%= link_to truncate(study_session.name, length: 30), study_session, class: "name" %></div>
    </span>
    <span class="date name"><%= study_session.created_at.strftime("%m/%d/%Y") %></span>
  <% end %>
  <div class="checkbox">
  </div>
<% end %>
