<%= div_for(study_session) do %>
  <div class="attendees">
    <% study_session.users.first(3).each do |user| %>
      <%= link_to image_tag(user.photo_url(:thumb)), user, :title => user.name %>
    <% end %>
  </div>
  <% if study_session.name.blank? %>
    <%= link_to study_session.created_at.strftime("%m/%d/%Y"), study_session, class: "name" %>
  <% else %>
    <%= link_to truncate(study_session.name, length: 28), study_session, class: "name" %>
    <span class="date"><%= study_session.created_at.strftime("%m/%d/%Y") %></span>
  <% end %>
  <div class="checkbox">
  </div>
<% end %>
