<div class="container">
  <div class="notebook_list_container <%= items_layout %>">
    <% if @study_sessions.empty? %>
      <% if @filtered_results %>
        <p>Sorry, we can't find any StudyHalls meeting that criteria.</p>
      <% else %>
        <p>With study halls you can collaborate with other students, video chat, and edit documents together!</p>
        <p>
          <%= link_to "Start A Studyhall", new_study_session_path(:link_id => "new_study_session_button2"), :remote => true, :id => "new_study_session_button2" %>
           now!
        </p>
      <% end %>
    <% else %>
      <ol class="notebook_list">
        <%= render @study_sessions %>
      </ol>
    <% end %>
  </div>
</div>
<% @study_sessions.each do |study_session| %>
  <div id="study_session_<%= study_session.id %>_modal" data-rel="study_session_<%= study_session.id %>" class="study_session_modal modal hide fade" style="display:none">
    <div class="modal-header">
      <h2>Edit your StudyHall</h2>
    </div>
    <div class="modal-body">
      <%= render :partial => "form", :locals => {:study_session => study_session} %>
    </div>
  </div>
<% end %>