<%= form_for user, :remote => true, :html => {:class => "form-stacked with_columns", :id => "edit_bio_form", :multipart => true} do |f| %>
  <input type="hidden" name="form_id" value="bio_form">
  <div class="input">
    <%= f.label :bio %>
    <%= f.text_area :bio, :rows => 10 %>
  </div>
  <div class="input clearfix">
    <%= f.submit "Save Changes", :class => "btn primary save" %>
    <%= link_to "Cancel", "#", :class => "btn close_modal" %>
  </div>
<% end %>
