<ul>
<%= form_for @user do |f| %>
  <li><%= f.label "Login", :login %> <%= f.text_field :login %></li>
  <li><%= f.label "Password", :password %> <%= f.password_field :password %></li>
  <li><%= f.label "Password Confirmation", :password_confirmation %> <%= f.password_field :password_confirmation %></li>
  <li><%= f.label "Name", :name %> <%= f.text_field :name %></li>
  
  <%- if @current_user && @current_user.has_role?("Admin") %>
    <li><%= f.label "Role", :role %> <%= f.select( "role", UserRole.all.collect {|r| [r.name]} )%></li>
  <% end %>
  <li><%= f.label "Gender", :gender %> <%= f.select( "gender", %w[Male Female] )%></li>
  <li><%= f.label "School", :school %> <%= f.text_field :school %></li>
  <li><%= f.label "Email", :email %> <%= f.text_field :email %></li>
  <li><%= f.label "Major", :major %> <%= f.text_field :major %></li>
  <li><%= f.label "GPA", :gpa %> <%= f.text_field :gpa %></li>
  <li><%= f.label "Fraternity", :fraternity %> <%= f.text_field :fraternity %></li>
  <li><%= f.label "Sorority", :sorority %> <%= f.text_field :sorority %></li>
  <%= f.submit "Submit" %>
<% end %>
</ul>