<%= form_for user, :remote => true, :html => {:class => "form-stacked with_columns", :id => "edit_bio_form", :multipart => true} do |f| %>
<div class="popover-main clearfix">  <input type="hidden" name="form_id" value="bio_form">
  <p>No one wants to study with a stranger. Complete your profile and start studying with friends today!</p>
  <div class="input left first">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="input left">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
</div>
<div class="popover-footer">  <div class="input clearfix">
    <%= f.submit "Save", :class => "btn save" %>
    <%= link_to "Cancel", "#", :class => "btn close_modal" %>
  </div></div>
<% end %>
