<h2>User: <%= @user.name %></h2>
<ul>
  <li>Gender: <%= @user.gender %></li>
  <li>Email: <%= @user.email %></li>
  <li>School: <%= @user.school %></li>
  <li>Major: <%= @user.major %></li>
  <li>GPA: <%= @user.gpa %></li>
  <li>Fraternity: <%= @user.franternity %></li>
  <li>Sorority: <%= @user.sorority %></li>
</ul>