<section>
  <div class="row">
    <div class="span4 column sidebar left" id="profile_sidebar">
        <%= image_tag @user.avatar_url(:large), :id => "profile_photo" %>
        <%= render :partial => "shared/buddies_preview", :locals => {:user => @user} %>
      <div>
        <%= link_to "Report this profile", "#" %>
      </div>
      <div>
        <%= link_to "Block", "#" %>
      </div>
    </div>
    <div class="span12 column profile_main_content">
      <div id="profile_personal_info" class="left">
        <h1><%= @user.name %></h1>
        <div id="profile_detailed_info">
          <%= html_profile_detailed_info_for(@user)%>
        </div>
        <div id="profile_bio" class="left">
          <span id="bio"><%= @user.bio %></span>
        </div>
      </div>
      <div class="profile_ratings left">
        <% if @user.gpa %>
          <div class="rating_block gpa left">
            <div class="gpa_score"><%= @user.gpa %></div>
            <span>GPA</span>
            <%= link_to "", "", :class => "help" %>
          </div>
        <% end %>
        <%= render :partial => "votes/rating", :locals => {:user => @user} %>
        <div class="clear"></div>
        <div class="stats">
            <ul class="unstyled">
              <li>
                <span class="count left">4</span> Hours in Studyhalls 
                <div class="clear"></div>
              </li>
              <li>
                <span class="count left">2</span> Studyhalls Created
                <div class="clear"></div>
              </li>
              <li>
                <span class="count left">15</span> Notebooks Shared 
                <div class="clear"></div>
              </li>
            </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div id="profile_user_items">
        <div id="profile_tabs">
          <ul class="tabs">
            <li class="active"><a data-rel="courses_tab" href="#">Courses (<%= @user.offerings.count %>)</a></li>
            <li><a data-rel="notes_tab" href="#">Notes (<%= @user.notebooks.viewable_by(current_user).count %>)</a></li>
            <li><a data-rel="studyhalls_tab" href="#">Studyhalls (<%= @user.study_sessions.viewable_by(current_user).count %>)</a></li>
          </ul>
          <ul id="courses_tab" class="courses course_list tab_contents">
            <% @user.offerings.each do |course| %>
              <li data-rel="<%= class_url(course) %>" class="linked_item course">
                <span><%= course.course.title %></span>
              </li>
            <% end %>
          </ul>
          <ul id="notes_tab" class="notes notebook_list tab_contents" style="display:none">
            <% @user.notebooks.viewable_by(current_user).each do |notebook| %>
              <li data-rel="<%= url_for(notebook) %>" class="linked_item notebook">
                <span><%= notebook.name %></span>
              </li>
            <% end %>
          </ul>
          <ul id="studyhalls_tab" class="studyhalls notebook_list tab_contents" style="display:none">
            <% @user.study_sessions.viewable_by(current_user).each do |study_session| %>
              <li data-rel="<%= url_for(study_session) %>" class="linked_item study_session">
                <div class="attendees">
                  <% study_session.users.first(3).each do |user| %>
                    <%= link_to image_tag(user.avatar_url(:thumb)), user, :title => user.name %>
                  <% end %>
                </div>
                <% if study_session.name.blank? %>
                  <%= link_to study_session.created_at.strftime("%m/%d/%Y"), study_session, class: "name" %>
                <% else %>
                  <%= link_to truncate(study_session.name, length: 28), study_session, class: "name" %>
                  <span class="date"><%= study_session.created_at.strftime("%m/%d/%Y") %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $(".tabs li").each(function(){
      var li = $(this);
      var link = li.children().first();
      if(li.hasClass("active"))
        $("#"+link.data("rel")).show();
      link.click(function(e){
        var clicked_link = $(this);
        $(".tabs li").removeClass("active");
        clicked_link.parent().addClass("active");
        $(".tab_contents").hide();
        $("#"+clicked_link.data("rel")).show();
        e.preventDefault();
      });
    });
    $(".course_list").jScrollPane();
    $(".linked_item").click(function(e){
      window.location = $(this).data("rel");
    });
  });
</script>
