<section>
  <div class="row">
    <div class="span4 column sidebar left" id="profile_sidebar">
      <%= link_to("Edit", edit_user_path(@user), :class => "btn") if @current_user && @user.editable_by?(@current_user) %> 
      <%= image_tag @user.avatar_url(:large), :id => "profile_photo" %>
      <%= render :partial => "shared/buddies_preview", :locals => {:user => @user} %>
      <div>
        <%= link_to "Report this profile", "#" %>
      </div>
      <div>
        <%= link_to "Block", "#" %>
      </div>
    </div>
    <div class="span12 column profile_main_content">
      <div id="profile_personal_info" class="left">
        <h1><%= @user.name %></h1>
        <div id="profile_detailed_info">
          <%= html_profile_detailed_info_for(@user)%>
        </div>
      </div>
      <div class="profile_ratings left">
        <% if @user.gpa %>
          <div class="rating_block gpa left">
            <%= @user.gpa %>
            GPA
          </div>
        <% end %>
        <div class="rating_block rating right">
          7
          Rating
        </div>
        <div class="clear"></div>
        <div class="stats">
            <ul class="unstyled">
              <li>
                <span class="count left">4</span> Hours Spent in Studyhalls 
                <div class="clear"></div>
              </li>
              <li>
                <span class="count left">2</span> Studyhalls Created
                <div class="clear"></div>
              </li>
              <li>
                <span class="count left">15</span> Notebooks Shared 
                <div class="clear"></div>
              </li>
            </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div id="profile_user_items">
        <div id="profile_tabs">
        	<ul>
        		<li><a href="#tabs-1">Courses (<%= @user.offerings.count %>)</a></li>
        		<li><a href="#tabs-2">Notes (<%= @user.notebooks.count %>)</a></li>
        		<li><a href="#tabs-3">Studyhalls (<%=  %>)</a></li>
        	</ul>
        	<div id="tabs-1">
        	  <section class="courses <%= items_layout %>">
              <ol class="course_list">
                <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
              </ol>
            </section>
            <div class="clear"></div>
        	</div>
        	<div id="tabs-2">
        	  <div class="notebook_list_container <%= items_layout %>">
        	    <ol class="notebook_list">
        		    <%= render partial: 'notebooks/list_item', collection: @user.notebooks.viewable_by(current_user), as: :notebook %>
        		  </ol>
        		</div>
        	</div>
        	<div id="tabs-3">
        		
        	</div>
        </div>
      </div>
    </div>
  </div>
</section>
