<section>
  <div class="row">
    <div class="span16">
      <h2><%= @user.name %></h2>
    </div>
  </div>
  <div class="row">
    <div class="span4 column">
      <%= image_tag @user.avatar_url(:medium) %>
    </div>
    <div class="span12 column">
      <ul class="unstyled spaced">
        <% unless user_protected_profile? @user, :roles %>
          <li><b>Role:</b> <%= @user.roles.collect {|r| r.name}.join(" ") %></li>
        <% end %>
        <% unless user_protected_profile? @user, :gender %>
          <li><b>Gender:</b> <%= @user.gender %></li>
        <% end %>
        <% unless user_protected_profile? @user, :email %>
          <li><b>Email:</b> <%= @user.email %></li>
        <% end %>
        <% unless user_protected_profile? @user, :school %>
          <li><b>School:</b> <%= @user.school %></li>
        <% end %>
        <% unless user_protected_profile? @user, :major %>
          <li><b>Major:</b> <%= @user.major %></li>
        <% end %>
        <% unless user_protected_profile? @user, :gpa %>
          <li><b>GPA:</b> <%= @user.gpa %></li>
        <% end %>
        <% unless user_protected_profile? @user, :fraternity %>
          <li><b>Fraternity:</b> <%= @user.fraternity %></li>
        <% end %>
        <% unless user_protected_profile? @user, :sorority %>
          <li><b>Sorority:</b> <%= @user.sorority %></li>
        <% end %>
      </ul>
      <%= link_to("Edit", edit_user_path(@user), :class => "btn") if @current_user && @user.editable_by?(@current_user) %> 
      <%= link_to 'Back', users_path, :class => "btn" if @current_user && @user.admin? %>
    </div>
  </div>
</section>
