<% if @success %>
  hidePopovers();
  <% %w{photo affiliations bio gpa name}.each do |section| %>
    $("#<%= section %>_section").html("<%=j render partial: section, locals: {user: @user} %>");
    $("#<%= section %>_form").html("<%=j render partial: "#{section}_form", locals: {user: @user} %>");
  <% end %>
  <% if @tour %>
    <% unless @next_form.nil? %>
      <% if @next_form == 'invitations_form' %>
        $(".activate_invitation").trigger("click");
        $("input.invite_buddies_save_button").live('click', function(){
          window.location.href = '<%= root_url(tour: true)%>';
        });
      <% else %>
        $("div.editable.edit").removeClass('active');
        $("div[data-form='<%= @rel_form %>']").removeClass('edit');
        $("div[data-form='<%= @next_form %>']").addClass('edit');
        $("div[data-form='<%= @next_form %>']").trigger('click');
      <% end %>
    <% else %>
      window.location.href = '<%= root_url(tour: true)%>';
    <% end %>
  <% end %>
<% else %>
  $("#edit_bio_form").prepend("<h2>Doh!</h2>");
<% end %>
