<% if flash[:notice] %>
  <div class="alert alert-message success span7">
    <a class="close" href="#">×</a>
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="alert alert-message error span7">
    <a class="close" href="#">×</a>
    <%= flash[:error] %>
  </div>
<% end %>


<%= form_tag "/activations", :method => "POST", :class => "form-stacked" do |f| %>
  <div class="clearfix">
    <%= label_tag :Email %> 
    <div class="input"><%= text_field_tag 'email' %></div>
  </div>
  <div>
    <%= submit_tag 'Resend Activation Email', :class => "btn primary"%>
    <%= link_to 'Back', root_path, :class => "btn" %>
  </div>
<% end %>
