<section class="buddies">
  <header>
      <h5 class="left">Buddies <small>(999)</small></h5>
      <%= link_to "View All >>", "#"%>
  </header>
    <ul class="unstyled">
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
    </ul>
</section>