<section class="buddies">
  <header>
      <h1 class="left">Buddies <small>(999)</small></h1>
      <%= link_to "View All >>", "#"%>
  </header>
    <ul>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
    </ul>
</section>