<div class="sub_section">
  <div class="friend_list">
    <div class="sub_section">
      <div class="left">Buddies</div>
      <div class="right"><%= link_to "View All >>", "#"%></div>
      <div class="clear"></div>
    </div>
    <ul class="unstyled">
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
    </ul>
  </div>
</div>