<div class="homepage_subbar sub_section">
  <div class="user_greeting left">
    <%= image_tag @current_user.avatar_url("medium")%>
    <span class="name"><h3>Hi, <span class="highligh_text"><%= "#{@current_user.name}"%></span>!</h3></span>
  </div>
  <div class="standard_actions right">
    <%= link_to "Start a Studyhall", new_study_session_path, :class => "btn" %>
    <%= link_to "Take Notes", new_note_path, :class => "btn" %>
  </div>
</div>

<div class="clear"></div>

<div class="sidebar left">
  <%= render "shared/buddies_preview" %>
  <div class="sub_section">
    Your Activity
  </div>
  <div class="sub_section">
    <ul class="unstyled">
      <li>Activity Item</li>
      <li>Activity Item</li>
      <li>Activity Item</li>
    </ul>
  </div>
  <div class="sub_section">
    Campus News
  </div>
  <div class="sub_section">
    <ul class="unstyled">
      <li>News Item</li>
      <li>News Item</li>
      <li>News Item</li>
    </ul>
  </div>
</div>

<div class="notebook_list_container <%= items_layout %>">
  <ol class="notebook_list">
    <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
  </ol>
</div>