<div class="homepage_subbar sub_section sub_section">
  <div class="user_greeting">
    <%= image_tag @current_user.avatar_url("medium")%>
    <span><%= "Hi, #{@current_user.name}!"%></span>
  </div>
  <div class="alert_box">
    Alert! Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  </div>
  <div class="standard_actions">
    <%= link_to "Start a Studyhall", new_study_session_path, :class => "btn" %>
    <%= link_to "Take Notes", notebooks_path, :class => "btn" %>
  </div>
</div>

<div class="clear"></div>

<div class="sidebar left">
  <div class="sub_section">
    <div class="friend_list">
      <div class="sub_section">
        <div class="left">Buddies</div>
        <div class="right"><%= link_to "View All >>", "#"%></div>
        <div class="clear"></div>
      </div>
      <ul class="unstyled">
        <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
        <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
        <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
        <li><%= image_tag "/assets/generic_avatar_medium.png"%></li>
      </ul>
    </div>
  </div>
  <div class="sub_section">
    <center>Campus News</center>
  </div>
</div>
  
  <%= render "shared/notebooks", :notebooks => @notebooks %>
</div>