<header class="home-header row">
  <div class="user_greeting span4">
    <%= link_to (image_tag @current_user.avatar_url("medium")), @current_user %>
    <h3>Hi, 
    <%= link_to @current_user.first_name, @current_user %>!
    </h3>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-message success span7">
        <a class="close" href="#">×</a>
        <%= flash[:notice] %>
        <%= link_to "Complete Your Profile", user_path(current_user, :mode => 'edit') unless current_user.try(:profile_complete?) %>
    </div>
  <% else %>
  <% end %>
</header>
<aside class="sidebar">
  <div class="standard_actions">
      <%= link_to "Start a Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :id => "new_study_session_button1", :class => "btn primary large popover_button", :remote => true %>
      <%= link_to "Take Notes", new_note_path, :class => "btn large" %>
  </div>
  <%= render :partial => "shared/buddies_preview", :locals => {:user => @current_user} %>
</aside>
<div class="main_content">
  <div id="home_tabs">
    <ul class="tabs">
      <li class="active"><%= link_to "Your Activity <small>(#{current_user.activity.count})</small>".html_safe, '#activities_tab' %></li>
      <li><%= link_to "Campus News <small>(#{current_user.school.try(:latest_news).try(:count) || 0 })</small>".html_safe, '#news_tab' %></li>
    </ul>
    <ul id="activities_tab" class="activity-list active">
      <% if current_user.activity.any? %>
        <% current_user.activity.each do |message| %>
          <%= message.body.html_safe %>
        <% end %>
      <% else %>
        <li><p>No recent activity</p></li>
      <% end %>
    </ul>
    <ul id="news_tab" class="news-list">
      <% if current_user.school.present? %>
        <% if current_user.school.latest_news.any? %>
          <% current_user.school.latest_news.each do |news| %>
            <li><%= link_to truncate(news.title, length: 120), news.link, title: news.title, target: '_blank' %></li>
          <% end %>
        <% else %>
          <li><p>No recent news</p></li>
        <% end %>
      <% else %>
        <li><p>No school</p></li>
      <% end %>
    </ul>
  </div>
  <section class="courses <%= items_layout %>">
    <header>
      <h3>Courses</h3>
    </header>
    <ol class="course_list">
      <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
      <li class="add">
        <%= link_to new_class_path(:link_id => "add_course_button"), :id => "add_course_button", :remote => true do %>
          <span>Add a course</span>
        <% end %>
      </li>
    </ol>
  </section>
</div>
