<header class="home-header row">
  <div class="user_greeting span4">
    <%= link_to (image_tag @current_user.avatar_url("medium")), @current_user %>
    <h3>Hi, 
    <%= link_to @current_user.first_name, @current_user %>!
    </h3>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-message success span7">
        <a class="close" href="#">×</a>
        <%= flash[:notice] %>
        <%= link_to "Complete Your Profile", user_path(current_user, :mode => 'edit') unless current_user.try(:profile_complete?) %>
    </div>
  <% else %>
  <% end %>
</header>
<aside class="sidebar">
  <div class="standard_actions tourable" data-popover-id="standard_actions_tour">
      <%= link_to "Start a Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :id => "new_study_session_button1", :class => "btn primary large popover_button", :remote => true %>
      <%= link_to "Take Notes", new_note_path, :class => "btn large" %>
  </div>
  <%= render :partial => "shared/buddies_preview", :locals => {:user => @current_user} %>
</aside>
<div class="main_content">
  <div id="home_tabs">
    <ul class="tabs">
      <li class="active tourable" data-popover-id="activity_tour"><%= link_to "Your Activity <small>(#{current_user.activity.count})</small>".html_safe, '#activities_tab' %></li>
      <li class="tourable" data-popover-id="campus_news_tour"><%= link_to "Campus News <small>(#{current_user.school.try(:latest_news).try(:count) || 0 })</small>".html_safe, '#news_tab' %></li>
    </ul>
    <ul id="activities_tab" class="activity-list active">
      <% if current_user.activity.any? %>
        <% current_user.activity.each do |message| %>
          <li class="activity_message">
            <%= link_to image_tag(message.activist.photo_url(:medium)), message.activist, title: message.activist.title_name if message.activist %>
            <%= message.body.html_safe %>
          </li>
        <% end %>
      <% else %>
        <li><p>No recent activity</p></li>
      <% end %>
    </ul>
    <ul id="news_tab" class="news-list">
      <% if current_user.school.present? %>
        <% if current_user.school.latest_news.any? %>
          <% current_user.school.latest_news.each do |news| %>
            <li><%= link_to truncate(news.title, length: 120), news.link, title: news.title, target: '_blank' %></li>
          <% end %>
        <% else %>
          <li><p>No recent news</p></li>
        <% end %>
      <% else %>
        <li><p>No school</p></li>
      <% end %>
    </ul>
  </div>
  <section class="tourable courses <%= items_layout %>" data-popover-id="courses_tour">
    <header>
      <h3>Courses</h3>
    </header>
    <ol class="course_list">
      <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
      <li class="add">
        <%= link_to "#", :id => "add_course_button" do %>
          <span>Add a course</span>
        <% end %>
      </li>
    </ol>
  </section>
</div>
<%= render :partial => 'tour' if @tour %>

<div class="tour_popover" id="invitation_tour" data-title="Invite Buddies <small>We promise not to spam</small>" style="display: none;">
  <%= render :partial => 'shared/invite_buddies', :locals => { :user => current_user } %>
</div>
<% unless @tour %>
  <script type="text/javascript">
    $(function(){
      $(".activate_invitation").click(function(){
        var invitation_tour = $("#invitation_tour").clone();
        invitation_tour.find("#gmail_invite_modal").remove()
        invitation_tour.find("#facebook_connect_modal").remove()
        invitation_tour.find(".popover-footer div.input").removeClass("input");
        invitation_tour.find("input.save").live('click', function(){
          $(".activate_invitation").popover('hide');
        });
        $(this).popover({trigger: "manual",
                          placement: 'below-right',
                          html: true,
                          offset: 5,
                          horizontalOffset: 60,
                          title: function(){return invitation_tour.data('title');},
                          content: function(){ return invitation_tour.html(); }});
        $(this).popover("show");
      });
    });
  </script>
<% end %>

<%= javascript_tag do %>
  $(document).ready(function(){
    var popover_attr = {
      trigger: "manual",
      placement: placement,
      offset: 10,
      horizontalOffset: 25,
      html: true,
      title: function(){return "Add A New Course";},
      content: function(){return "<%=j render :partial => 'classes/form' %>";}
    };

    var placement = "below";
    var length = $('.course_list').children().length;
    if(1 == length % 4) {
      placement = "below-left";
    } else if(0 == length % 4) {
      placement = "below-right";
    }
    
    $("#add_course_button").popover(popover_attr);
    
    $("#add_course_button").live('click', function(){
      $("#add_course_button").popover("show");
      $("select.chzn-select").chosen();
      styleFileInputs();
      $("#new_class_post .fake-file").css({position: "relative", top: "-34px"});
      initWindowResize();
      return false;
    });
    
    $('a.cancel_course_popover').live('click', function(){
      $("#add_course_button").popover("hide");
      return false;
    });
  });
<% end -%>
