<%= content_for :chat_widget do -%>
    <%= EnvolveChat::ChatRenderer.get_html(APP_CONFIG["envolve"]["api_key"], 
        :first_name => current_user.first_name,
        :last_name => current_user.last_name,
        :is_admin => current_user.admin?, 
        :pic => "#{APP_CONFIG["host"]}#{current_user.photo_url}", 
        :people_list_header_text => "Chat with other users",
        :people_here_text => "People Online",
        :groups => [{:id => "all_site", :name => "All Vistors"}]
      ).html_safe
    %>
<% end -%>
<header class="home-header row">
  <div class="user_greeting span4">
    <%= link_to (image_tag @current_user.avatar_url("medium")), edit_user_path(@current_user) %>
    <h3>Hi, 
    <%= link_to @current_user.first_name, @current_user %>!
    </h3>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-message success span7">
        <a class="close" href="#">×</a>
        <%= flash[:notice] %>
        <%= link_to "Complete Your Profile", user_path(current_user, :mode => 'edit') unless current_user.try(:profile_complete?) %>
    </div>
  <% else %>
  <% end %>
</header>
<aside class="sidebar">
  <div class="standard_actions">
      <%= link_to "Start a Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :id => "new_study_session_button1", :class => "btn primary large popover_button", :remote => true %>
      <%= link_to "Take Notes", new_note_path, :class => "btn large" %>
  </div>
  <%= render :partial => "shared/buddies_preview", :locals => {:user => @current_user} %>
</aside>
<div class="main_content">
  <div class="top clearfix">
    <section class="activity">
      <header>
        <h3>Your Activity <small>(<%= current_user.activity.count %>)</small></h3>
      </header>
      <ul class="activity-list">
        <% if current_user.activity.any? %>
          <% current_user.activity.each do |message| %>
            <%= message.body.html_safe %>
          <% end %>
        <% else %>
          <li><p>No recent activity</p></li>
        <% end %>
      </ul>
    </section>  
    <section class="news">
      <%= render :partial => "home/campus_news" %>
    </section>
  </div>
  <section class="courses <%= items_layout %>">
    <header>
      <h3>Courses</h3>
    </header>
    <ol class="course_list">
      <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
      <li class="add">
        <%= link_to new_class_path(:link_id => "add_course_button"), :id => "add_course_button", :remote => true do %>
          <span>Add a course</span>
        <% end %>
      </li>
    </ol>
  </section>
</div>
