<header class="home-header row">
  <div class="user_greeting span4">
    <%= link_to (image_tag @current_user.avatar_url("medium")), edit_user_path(@current_user) %>
    <h3>Hi, 
    <%= link_to @current_user do %>
        <%= @current_user.name %>
    <% end %>
    !</h3>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-message success span7">
        <a class="close" href="#">×</a>
        <%= flash[:notice] %>
        <%= link_to "Complete Your Profile", profile_wizard_user_path(current_user) unless current_user.try(:profile_complete?) %>
    </div>
  <% else %>
  <% end %>
  <div class="standard_actions right">
      <%= link_to "Take Notes", new_note_path, :class => "btn large" %>
      <%= link_to "Start a Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :id => "new_study_session_button1", :class => "btn primary large popover_button", :remote => true %>
  </div>
</header>
<aside class="sidebar">
  <%= render :partial => "shared/buddies_preview", :locals => {:user => @current_user} %>
  <section class="activity">
    <header>
      <h1>Your Activity</h1>
    </header>
    <ul class="activity-list">
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
      <li><a href="#"><img src="/assets/generic_avatar_buddies.png" /></a><p><a href="#">Brent Collier </a>asked you to join a <a href="#">StudyHall</a></p></li>
    </ul>
  </section>  
  <section class="news">
    <header><h1>Campus News</h1></header>
    <h2>Yesterday</h2>
    <ul>
      <li><h3><a href="#">This is a news item from yesterday. it is long to test ellipsses</a></h3></li>
      <li><h3><a href="#">This is a news item from yesterday. it is long to test ellipsses</a></h3></li>
    </ul>
    <h2>September 17th</h2>
    <ul>
      <li><h3><a href="#">This is a news item from yesterday. it is long to test ellipsses</a></h3></li>
      <li><h3><a href="#">This is a news item from yesterday. it is long to test ellipsses</a></h3></li>
    </ul>
    <h2>September 4thth</h2>
    <ul>
      <li><h3><a href="#">This is a news item from yesterday. it is long to test ellipsses</a></h3></li>
    </ul>
  </section>
</aside>
<section class="courses <%= items_layout %>">
  <ol class="course_list">
    <!-- <li class="notebook_list_item">
      <a href="#">
        <span>Science - Course 101</span>
      </a>  
    </li>
    <li class="notebook_list_item blue">
      <a href="#">
        <span>Physics - Course 102</span>
      </a>  
    </li>
    <li class="notebook_list_item green">
      <a href="#">
        <span>History - Course 202</span>
      </a>  
    </li>
    <li class="notebook_list_item">
      <a href="#">
        <span>Science - Course 101</span>
      </a>  
    </li>
    <li class="notebook_list_item">
      <a href="#">
        <span>Science - Course 101</span>
      </a>  
    </li>
    <li class="notebook_list_item">
      <a href="#">
        <span>Science - Course 101</span>
      </a>  
    </li>
    <li class="notebook_list_item green">
      <a href="#">
        <span>History - Course 202</span>
      </a>  
    </li>   -->
    <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
    <li class="add">
      <a href="#"><span>Add a course</span></a>
    </li>
    
    
  </ol>
</div>
