<div class="homepage_subbar sub_section sub_section">
  <div class="user_greeting">
    <%= image_tag @current_user.avatar_url("medium")%>
    <span><%= "Hi, #{@current_user.name}!"%></span>
  </div>
  <div class="alert_box">
    Alert! Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
  </div>
  <div class="standard_actions">
    <%= link_to "Start a Studyhall", new_study_session_path, :class => "btn" %>
    <%= link_to "Take Notes", notebooks_path, :class => "btn" %>
  </div>
</div>

<div class="clear"></div>

<div class="masonry_container">
  <div class="masonry_item">
    <div class="sub_section">
      <div class="friend_list">
        <div class="sub_section">
          Friends
          <%= link_to "View All >>", "#"%>
        </div>
        <ul class="unstyled">
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
          <li><%= image_tag "/assets/generic_avatar_thumb.png"%></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item
    </div>
  </div>
  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
    </div>
  </div>
  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item
    </div>
  </div>
  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item
    </div>
  </div>
  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
    </div>
  </div>
  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
      This is a masonry item <br/>
    </div>
  </div>
  <div class="masonry_item">
    <div class="masonry_item_content">
      This is a masonry item
    </div>
  </div>
</div>

<div class="footer">
  
</div>