<header class="home-header row">
  <div class="user_greeting span4">
    <%= link_to (image_tag @current_user.avatar_url("medium")), edit_user_path(@current_user) %>
    <h3>Hi, 
    <%= link_to @current_user.first_name, @current_user %>!
    </h3>
  </div>
  <% if flash[:notice] %>
    <div class="alert alert-message success span7">
        <a class="close" href="#">×</a>
        <%= flash[:notice] %>
        <%= link_to "Complete Your Profile", user_path(current_user, :mode => 'edit') unless current_user.try(:profile_complete?) %>
    </div>
  <% else %>
  <% end %>
  <div class="standard_actions right">
      <%= link_to "Start a Studyhall", new_study_session_path(:link_id => "new_study_session_button1"), :id => "new_study_session_button1", :class => "btn primary large popover_button", :remote => true %>
      <%= link_to "Take Notes", new_note_path, :class => "btn large" %>
  </div>
</header>
<aside class="sidebar">
  <%= render :partial => "shared/buddies_preview", :locals => {:user => @current_user} %>
  <section class="activity">
    <header>
      <h1>Your Activity <small>(<%= current_user.activity.count %>)</small></h1>
    </header>
    <ul class="activity-list">
      <% if current_user.activity.any? %>
        <% current_user.activity.each do |message| %>
          <%= message.body.html_safe %>
        <% end %>
      <% else %>
        <li><p>No recent activity</p></li>
      <% end %>
    </ul>
  </section>  
  <section class="news">
    <%= render :partial => "home/campus_news" %>
  </section>
</aside>
<section class="courses <%= items_layout %>">
  <ol class="course_list">
    <%= render partial: 'users/course_list', collection: @current_user.offerings, as: :offering, :locals => {:wrapper_class => "wrapper_large"} %>
    <li class="add">
      <%= link_to new_class_path(:link_id => "add_course_button"), :id => "add_course_button", :remote => true do %>
        <span>Add a course</span>
      <% end %>
    </li>
    
    
  </ol>
</div>
