<header class="header">
  <h1 class="ir">StudyHall.com</h1>
  <%= link_to "Log In", login_path, class: "login-button" %>
  <div class="browser-quad"></div> 
  <div class="browser-main"></div>
  <div class="zigzag"></div> 
</header>

<section class="signup">
  <div class="container">
    <h1>The Official place to study online.</h1>
    <div style="position:relative;width:940px">
      <%= form_for @user, remote: true, html: {class: "quick-signup form-stacked"} do |f| %>
        <div class="input email-container">
          <%= f.label :email, "Your Email" %>
          <%= f.text_field :email, :title => "Email is taken or invalid", :class => "input_field" %>
        </div>
        <div class="input password-container">
          <%= f.label :password, "Your Password" %>
          <%= f.password_field :password, :title => "Not a valid password", :class => "input_field" %>
        </div>
        <div class="input url-container">
          <%= f.label :custom_url, "Your URL" %>
          <%= f.text_field :custom_url, :title => "URL is taken or invalid", :class => "input_field" %>
          <%= f.submit "Reserve your seat", class: "btn primary" %>
        </div>
      <% end %>
      <div class="alert-message success fade in" id="success_message" data-alert="close">
        <p><strong>Great!</strong> Now watch your inbox for an account activation email...</p>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    $("#new_user input[type='submit']").click(function(){
      var form = $(this).closest("form");
      form.find(".input_field").each(function(){
        var input = $(this);
        if(input.twipsy(true) != null)
          input.twipsy("hide");
      });
    });
  });
</script>
<section class="reasons">
  <header class="container">
    <a href="#" class="btn close" id="close_reasons">x</a>
    <h1>Check out why StudyHall is awesome</h1>
    <a class="btn primary small" target="_blank" href="http://twitter.com?status=Check%20out%20StudyHall%20<%= url_encode(root_url) %>">Share</a>
  </header>
  <section class="content container">
    <ul class="postits">
      <li class="notes"><p>Take notes during and after class</p></li>
      <li class="start"><p>Start and online study group</p><p>Secure your notes in a digital locker</p>
      <li class="share"><p>Share your notes with buddies or whoever...<br>(sports, clubs, frats, and sororities)</p></li>
      <li class="work"><p>Work on group projects</p><p>Post lecture notes and questions to classmates</p></li>
      <li class="meet"><p>Meet up online with people you never though you'd study with</p></li>
      <li class="login"><p>Log in using your Facebook account and connect with your friends</p></li>
      <li class="collaborate"><p>Collaborate in real-time with your buddies</p><p>View profiles and meet a new study buddy :)</p></li>
      <li class="free"><p>:) It's free!</p></li>
    </ul>
    <video>Video goes here</video>
  </section>
</section>
<footer class="footer">
  <div class="container">
      <p>Copyright StudyHall.com All rights reserved.
        <a href="/contacts/new" data-original-title="">Contact</a>
          <a href="/about-us" data-original-title="">About</a>
          <a href="/about-us" data-original-title="">FAQs</a>
        </p>      
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function(e){
    $("a#close_reasons").click(function(e){
      $(".reasons").slideUp();
      e.preventDefault();
    });
  });
</script>
