<div id="landing"><header class="header">
  <h1 class="ir">StudyHall.com</h1>
  <%= link_to "Log In", login_path, class: "login-button" %>
  <div class="browser-quad"></div> 
  <div class="browser-main">
    <video id="browser_video" width="398" height="314" poster="/assets/landing/browser-main.jpg" controls="controls" preload="true">
    	<source type="video/mp4" src="/video/landing.mp4" />
    	<source type="video/webm" src="/video/landing.webm" />
    	<source type="video/ogg" src="/video/landing.theora.ogv" />
    	<object id="studyhall_video_flash" width="398" height="314" type="application/x-shockwave-flash" data="/assets/mediaelement_rails/flashmediaelement.swf">
    		<param name="movie" value="/assets/mediaelement_rails/flashmediaelement.swf" />
    		<param name="flashvars" value="controls=false&poster=/assets/landing/browser-main.jpg&file=/video/landing.mp4" />
    		<img src="/assets/landing/browser-main.jpg" width="398" height="314" title="Still image from video - displayed because your browser does not support HTML5 video or Adobe Flash" />
    	</object>
    </video>
  </div>
  <div class="zigzag"></div> 
</header>

<section class="signup">
  <div class="container">
    <h2>The Education Revolution is here. &nbsp;Join Your Classmates now. &nbsp;Free.</h2>
      <%= form_for @user, remote: true, html: {class: "quick-signup form-stacked in"} do |f| %>
        <div class="input email-container">
          <%= f.label :email, "Your Email" %>
          <%= f.text_field :email, :title => "Email", :class => "required email input_field" %>
        </div>
        <div class="input password-container">
          <%= f.label :password, "Your Password" %>
          <%= f.password_field :password, :title => "Password", :class => "required input_field" %>
        </div>
        <div class="input url-container">
          <%= f.label :custom_url, "Your URL" %>
          <%= f.text_field :custom_url, :title => "Your URL", :class => "required input_field" %>
          <%= f.submit "Reserve your seat", class: "btn primary" %>
          <div class="url-prefix">studyhall.com/</div>
        </div>
      <% end %>
      <div class="alert-message info fade" id="info_message" data-alert="close">
        <p>Sending all your bytes and bits...</p>
      </div>
      <div class="alert-message success fade" id="success_message" data-alert="close">
        <p><strong>Great!</strong> Now watch your inbox for an account activation email...</p>
      </div>
   </div>
</section>
<section class="reasons">
  <header class="container">
    <a href="#" class="btn close" id="close_reasons">x</a>
    <h1>Check out why StudyHall is awesome</h1>
    <!-- <a class="btn primary small" target="_blank" href="http://twitter.com?status=Check%20out%20StudyHall%20<%= url_encode(root_url) %>">Share</a>  -->
  </header>
  <section class="content container">
    <ul class="postits">
      <li class="notes"><p>Take notes during and after class</p></li>
      <li class="start"><p>Start and online study group</p><p>Secure your notes in a digital locker</p>
      <li class="share"><p>Share your notes with buddies or whoever...<br>(sports, clubs, frats, and sororities)</p></li>
      <li class="work"><p>Work on group projects</p><p>Post lecture notes and questions to classmates</p></li>
      <li class="meet"><p>Meet up online with people you never though you'd study with</p></li>
      <li class="login"><p>Log in using your Facebook account and connect with your friends</p></li>
      <li class="collaborate"><p>Collaborate in real-time with your buddies</p><p>View profiles and meet a new study buddy :)</p></li>
      <li class="free"><p>:) It's free!</p></li>
    </ul> 
    <script type = "text/javascript" id = "vidyard_embed_code_JO4aZhfsuBjap_zOUZYofg">/*To resize this video, please login to your dashboard and edit your player settings*/(function() { var vidyardcontainer =  document.createElement("span"); vidyardcontainer.id = 'vidyard_JO4aZhfsuBjap_zOUZYofg'; var vidyardcontainer_s = document.getElementById('vidyard_embed_code_JO4aZhfsuBjap_zOUZYofg'); vidyardcontainer_s.parentNode.insertBefore(vidyardcontainer, vidyardcontainer_s); var vidyard = document.createElement('script'); vidyard.type = 'text/javascript'; vidyard.async = false; vidyard.src = ('https:' == document.location.protocol ? 'https://secure.' : 'http://embed.') + 'vidyard.com/embed/JO4aZhfsuBjap_zOUZYofg/iframe/?'; var vidyard_s = document.getElementsByTagName('script')[0]; vidyard_s.parentNode.insertBefore(vidyard, vidyard_s); })();  /*embedcodev1.0.1*/</script>
    <div class="video_shim"></div>
  </section>
</section>
</div>
