<%= form_for [:admin, @admin_instructor], :html => {:class => "form-stacked"} do |f| %>
  <% if @admin_instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_instructor.errors.count, "error") %> prohibited this admin_instructor from being saved:</h2>

      <ul>
      <% @admin_instructor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="clearfix">
    <%= f.label :first_name %>
    <div class="input"><%= f.text_field :first_name %></div>
  </div>
  
  <div class="clearfix">
    <%= f.label :last_name %>
    <div class="input"><%= f.text_field :last_name %></div>
  </div>
  
  <div>
    <%= f.submit :class => "btn primary" %>
    <%= link_to 'Back', admin_instructors_path, :class => "btn" %>
  </div>
<% end %>
