<div class="row">
  <div class="span5">
    <div class="sub_section">
      <h1><%= @course.number %></h1>
      <h5><%= @course.title %></h5>
    </div>
    <div class="sub_section">
      <h5 calss="left">Professor</h5><%= "#{@class.instructor.first_name} #{@class.instructor.last_name}" %>
    </div>
    <div class="sub_section">
      <h5 calss="left">Classmates</h5><span class="count"></span><%= link_to "View All >>", "#" %>
    </div>
    <div class="sub_section">
      <ul class="unstyled">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="sub_section">
      <h5 calss="left">Buddies</h5><span class="count"></span><%= link_to "View All >>", "#" %>
    </div>
    <div class="sub_section">
      <ul class="unstyled">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <%= link_to "Drop this class", "#"%>
  </div>
  <div class="span11">
    <div class="sub_section">
      <h5>Course Activity</h5><%= link_to "SHARE WITH THE CLASS", "#", :class => "btn" %>
    </div>
  </div>
</div>