<aside class="sidebar">
  <section>
    <header>
      <h1><big><%= @course.department %><%= @course.number %></big></h1>
      <h1><%= @course.title %></h1>
    </header>
  </section>
  <section>
    <header>
      <h1 class="left">Professor: <small><%= "#{@class.instructor.first_name} #{@class.instructor.last_name}" %></small></h1>
    </header>
  </section>
  <section class="buddies">
    <header>
      <h1 class="left">Classmates <small>(<%= @classmates.count %>)</small></h1>
      <%= link_to "View All >>", class_classmates_path(:class_id => @class.id), :remote => true, :class => "modal_button" %>
    </header>
      <ul>
        <% if @classmates.any? %>
          <% @classmates.each do |mate| %>
            <li><%= link_to image_tag(mate.photo_url(:medium)), mate, :title => mate.name %></li>
          <% end %>
        <% else %>
          <li></li>
        <% end %>
      </ul>
  </section>
  <%= render :partial => "shared/buddies_preview", :locals => {:user => @current_user} %>
  <%= link_to "Drop this class", user_drop_class_path(:user_id => current_user.id, :offering_id => @class.id), method: :delete, confirm: "Are you sure?" %>
</aside>
<section class="course_activity">
  <header>
    <h1 class="left">Course Activity</h1><%= link_to "SHARE WITH THE CLASS", new_class_post_path(:class_id => @class.id, :user_id => current_user.id), :class => "btn small right", :id => "class_share_button", :remote => true %>
  </header>
  <div class="course_activity_list">
    <%= render :partial => 'posts/list_item.html.erb', :locals => {:posts => @posts} %>
  </div>
</section>
