<p id="notice"><%= notice %></p>

<ul class="unstyled spaced">
  <li><b>Name:</b> <%= @contact.name %></li>
  <li><b>Email:</b> <%= @contact.email %></li>
  <li><b>Company name:</b> <%= @contact.company_name %></li>
  <li><b>Phone:</b> <%= @contact.phone %></li>
  <li><b>Message:</b> <%= @contact.message %></li>

<%= link_to 'Edit', edit_contact_path(@contact), :class => "btn" %>
<%= link_to 'Back', contacts_path, :class => "btn" %>
