<h2>Search results for "<%= @search.keywords %>"</h2>
<ul class="tabs">
  <li class="<%= activate(@search.first_group,"people") %>"><a data-rel="people_tab" href="#">People (<%= @search.users_count %>)</a></li>
  <li class="<%= activate(@search.first_group,"courses") %>"><a data-rel="courses_tab" href="#">Courses (<%= @search.courses_count %>)</a></li>
  <li class="<%= activate(@search.first_group,"notes") %>"><a data-rel="notes_tab" href="#">Notes (<%= @search.notes_count %>)</a></li>
</ul>
<ul id="people_tab" class="people search_results">
  <% if @search.users_count > 0 %>
    <% @search.users.results.each do |search_result| %>
      <%= render :partial => "person", :locals => {:user => search_result} %>
    <% end %>
  <% else %>
    <p>No relevant results were found.</p>
  <% end %>
</ul>
<ul id="courses_tab" class="courses search_results">
  <% if @search.courses_count > 0 %>
    <% @search.courses.results.each do |search_result| %>
      <%= render :partial => "course", :locals => {:course => search_result} %>
    <% end %>
  <% else %>
    <p>No relevant results were found.</p>
  <% end %>
</ul>
<ul id="notes_tab" class="notes search_results">
  <% if @search.notes_count > 0 %>
    <% @search.notes.results.each do |search_result| %>
      <%= render :partial => "note", :locals => {:note => search_result} %>
    <% end %>
  <% else %>
    <p>No relevant results were found.</p>
  <% end %>
</ul>
<script type="text/javascript">
  $(document).ready(function(){
    $(".search_results").hide();
    $(".tabs li").each(function(){
      var li = $(this);
      var link = li.children().first();
      if(li.hasClass("active"))
        $("#"+link.data("rel")).show();
      link.click(function(e){
        var clicked_link = $(this);
        $(".tabs li").removeClass("active");
        clicked_link.parent().addClass("active");
        $(".search_results").hide();
        $("#"+clicked_link.data("rel")).show();
        e.preventDefault();
      });
    });
    $(".note_content").expander();
  });
</script>
