<ul class="unstyled">
  <% posts.each do |post| %>
    <li class="clearfix class_post">
      <div class="left">
        <%= link_to image_tag(post.user.avatar.url(:medium)), post.user, :title => post.user.name %>
      </div>
      <div class="left">
        <%= link_to post.user.name, post.user %> <%= post.created_at %> <br/>
        <%= post.text %>
        <div>
          <%= link_to(post.notebook.name, notebook_path(post.notebook)) if post.notebook_id %>
        </div>
        <div>
          <%= link_to(post.study_session.created_at.strftime("%d/%m/%Y"), study_session_path(post.study_session)) if post.study_session_id %>
        </div>
      <div>
    </li>
  <% end %>
</ul>