<ul class="unstyled">
  <% posts.each do |post| %>
    <% unless current_user.blocked?(post.user)%>
      <li class="clearfix">
        <div class="class_post">
          <div class="user_photo left">
            <%= link_to image_tag(post.user.photo_url(:medium)), post.user %>
          </div>
          <div class="post_details left">
            <%= link_to post.user.name, post.user %> - <%= post.created_at.strftime("%a, %b %d %Y at %I:%M%p") %> <br/>
            <%= post.text %>
            <div>
              <% if post.notebook_id %>
                Notebook: <%= link_to(post.notebook.try(:name), notebook_notes_path(post.notebook)) %>
              <% end %>
              <% if post.study_session_id && post.study_session %>
                Studyhall: <%= link_to(post.study_session.created_at.strftime("%d/%m/%Y"), study_session_path(post.study_session)) %>
              <% end %>
            </div>
            <div class="post_comment">
              <%= link_to "Comment", "#", :class => "comment_form_button", :name => "comment_for_#{post.id}" %>
              <div class="comment_form", id="comment_for_<%= post.id %>">
                <%= render "comments/form.html.erb", :comment => post.comments.new, :class_id => post.offering_id %>
              </div>
            </div>
          </div>
          <div class="post_options right">
            <ul class="unstyled">
              <% unless post.user == current_user %>
                <li><%= link_to( "Block", user_block_path(:user_id => current_user, :blocked_user_id => post.user.id), :confirm => "Are you sure?") %></li>
                <li><%= link_to "Report", class_post_path(post.offering, post, :"post[reported]" => true, :reported => true), remote: true, method: :put, :confirm => "Are you sure?" %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="comment_list">
          <ul class="unstyled">
            <%= render partial: "comments/list_item", collection: post.comments, as: :comment %>
          </ul>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
