<%= form_for @filter, :html => {:class => "form-stacked"} do |f| %>
  <%= f.hidden_field :model_name %>
  <%= f.label :user_ids, "Buddies" %>
  <%= f.collection_select :user_ids, current_user.buddies, :id, :name, {:multiple => true}, {:multiple => "multiple", :class => "chzn-select"} %>
  <div class="clearfix"></div>
  <%= f.submit "Filter", :class => "btn primary" %>
  <%= link_to 'Cancel', "#", :class => "btn cancel_popover", "data-link-id" => "filter_button" %>
<% end %>
