<%= form_for @filter, :html => {:class => "form-stacked filter_form"} do |f| %>
  <%= f.hidden_field :model_name %>
  <div class="popover-body">
    <div class="clearfix">
      <div class="input">
        <div class="input-prepend">
          <label class="add-on">
            <%= f.check_box :notes, checked: "checked", class: "activation_check_box" %>
          </label>
          <%= text_field_tag nil, nil, value: "Search For Notes", class: "prepended_checkbox disabled", disabled: true %>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="input">
        <div class="input-prepend">
          <label class="add-on">
            <%= f.check_box :notebooks, checked: "checked", id: "filter_for_notebooks", class: "activation_check_box" %>
          </label>
          <%= text_field_tag nil, nil, value: "Search For Notebooks", class: "prepended_checkbox disabled", disabled: true %>
        </div>
      </div>
    </div>
    <div class="clearfix" id="filter_notebooks_by_class">
      <div class="input activate_by_select">
        <div class="input-prepend">
          <label class="add-on">
            <%= check_box_tag nil, nil, false, :class => "activation_check_box" %>
          </label>
          <%= f.collection_select :course_id, current_user.school.courses, :id, :title, {:prompt => "Notebooks For Class"}, {:class => "chzn-select prepended_checkbox", disabled: true} %>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="input activate_by_select">
        <div class="input-prepend">
          <label class="add-on">
            <%= check_box_tag nil, nil, false, :class => "activation_check_box" %>
          </label>
          <%= f.text_field :name, class: "prepended_checkbox", value: "Title", disabled: true %>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <%= label_tag "Date Range" %>
      <div class="input activate_by_select">
        <div class="input-prepend">
          <label class="add-on">
            <%= check_box_tag nil, nil, false, :class => "activation_check_box" %>
          </label>
          <%= f.text_field :start_date, class: "date_picker prepended_checkbox", style: "width: 154px;", value: "Start Date", disabled: true %>
          <%= f.text_field :end_date, class: "date_picker prepended_checkbox", style: "width: 154px;", value: "End Date", disabled: true %>
        </div>
      </div>
    </div>
  </div>
  <div class="popover-footer">
    <%= f.submit "Filter", :class => "btn primary" %>
    <%= link_to 'Cancel', "#", :class => "btn cancel_popover", "data-link-id" => "filter_button" %>
  </div>
<% end %>
