<li class="divider">Admin</li>
<li><%= link_to "Schools", admin_schools_path %></li>
<li><%= link_to "Course Data Import", admin_course_offering_imports_path %></li>
<li><%= link_to "Chat", rooms_path %></li>
<li><%= link_to "Whiteboard", whiteboards_path %></li>
<li><%= link_to "Static Pages", admin_static_pages_path %></li>
<li><%= link_to "Contacts", contacts_path %></li>
<li><%= link_to "Users", admin_users_path %></li>