<header class="topbar">
  <div class="fill">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h1 class="logo"><%= link_to "StudyHall Home", root_path %></h1>
        </div>
        <% controller_name %>
        <nav class="nav" id="topbar_main_nav">
        <% if logged_in? %>
            <ul>
              <li id="nav_home" <% if controller?("home") %> class='current' <% end %> >
                <%= link_to home_index_path, title: "Home" do %><span>Home</span><% end %>
              </li>
              <li id="nav_studyhalls" <% if controller?("study_sessions") %> class='current' <% end %>>
                <%= link_to study_sessions_path, title: "Studyhalls" do %><span>StudyHalls</span><% end %>
              </li>
              <li id="nav_notes" <% if controller?("notebooks") %> class='current' <% end %>>
                <%= link_to notebooks_path, title: "Notebooks" do %><span>Take Notes</span><% end %>
              </li>
              <li id="nav_profile" <% if controller?("users") %> class='current' <% end %>>
                <%= link_to user_path(current_user), title: "Profile" do %><span>Profile</span><% end %>
              </li>
              <li id="nav_inbox" <% if controller?("messages") %> class="current {inbox_class}" <% end %> >
                <%= link_to mailbox_path(:mailbox => "inbox"), title: "Inbox" do %><small><%= inbox_count %></small><span>Inbox</span><% end %>
              </li>
              <li id="nav_account" >
                <%= link_to current_user, title: "Your Account" do %><span>Your Account</span><% end %>
              </li>  
            </ul>
        <% end %>
        </nav>
        <div class="span4">
          <%= form_for Search.new do |f| %>
            <%= f.text_field :query, :placeholder => "Search" %>
          <% end %>
        </div>
        <div class="right">
          <ul class="nav secondary-nav">
            <li class="dropdown" data-dropdown="dropdown">
              <% if @current_user %>
                <%= link_to(image_tag(@current_user.avatar_url(:thumb), :class => "avatar_thumb")+"   You", "#", :class => "dropdown-toggle")  %>
                <ul class="dropdown-menu">
                  <div class="arrow-border"></div><div class="arrow"></div>
                  <li><%= link_to "Profile", @current_user %></li>
                  <li><%= link_to "Study", study_sessions_path %></li>
                  <li><%= link_to "Notes", notebooks_path %></li>
                  <li><%= link_to "Messages", mailbox_path(:mailbox => "inbox") %></li>
                  <li><%= link_to "Classes", classes_path %></li>
                  <%- if @current_user.admin? %>
                    <%= render :partial => "/layouts/admin_options"%>
                  <% end %>
                  <li class="divider"></li>
                  <li><%= link_to "Logout", logout_path %></li>
                </ul>
                <% else %>
                  <%= link_to "Login", root_path %>
                <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
