<!DOCTYPE html>
<html>
<head>
  <title>Studyhall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "http://staging.tokbox.com/v0.91/js/TB.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "layouts/topbar"%>
  <div class="container">
    <div class="fill">
      <%= yield %>
    </div>
  </div>

</body>
</html>
