<!DOCTYPE html>
<html>
<head>
  <title>Studyhall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3><%= link_to "StudyHall", root_path %></h3>
        <ul>
          <li><%= link_to "Login", root_path if @current_user.nil? %></li>
          <li><%= link_to "Logout", logout_path if @current_user %></li>
          <li><%= link_to "Contact", new_contact_path %></li>
          <% @static_pages.each do |static_page| %>
            <li><%= link_to static_page.title, page_path(static_page.slug) %></li>
          <% end %>
          <li><%= link_to "StaticPages", static_pages_path if @current_user && @current_user.admin? %></li>
          <li><%= link_to "Users", users_path if @current_user && @current_user.admin? %></li>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="fill">
      <%= yield %>
    </div>
  </div>

</body>
</html>
