<!DOCTYPE html>
<html>
<head>
  <title>Studyhall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "http://staging.tokbox.com/v0.91/js/TB.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name + "_" + action_name %>">
  <%= render :partial => "layouts/topbar"%>
  <div class="outer-container">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
