<% @layout = "full_width" %>
<!DOCTYPE html>
<html>
<head>
  <title>Studyhall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "http://staging.tokbox.com/v0.91/js/TB.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name + "-" + action_name %> full-width">
  <%= render :partial => "layouts/topbar"%>
  <%= yield %>
</body>
</html>
