<% @layout = "fixed_width" %>
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]--> 
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>Studyhall</title>
  <%= stylesheet_link_tag    "application" %>
  <script type="text/javascript" src="http://use.typekit.com/vmy7sbk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag APP_CONFIG["opentok"]["js_src"] %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name + "-" + action_name %> fixed-width">
  <div id="wrap">  
    <header class="topbar">
      <div class="fill">
        <div class="container">
          <div class="row">
            <div class="span3">
              <h1 class="logo"><%= link_to "StudyHall Home", root_path %></h1>
            </div>
            <% controller_name %>
            <nav class="primary-nav" id="topbar_main_nav">
          </div>
        </div>
      </div>
    </header>
    <section class="main-content">
      <div class="container"><%= yield %></div>
    </section>
    <%= render "layouts/footer" %>  
  </div>
</body>
</html>
