<!DOCTYPE html>
<html>
<head>
  <title>Studyhall</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="users-top-menu">
    <%= link_to "Users", users_path if @current_user %>
    <%= link_to "Logout", logout_path if @current_user %>
  </div>
  <%= yield %>

</body>
</html>
